<app-navbar></app-navbar>
<h1>Mostrar Estudiantes</h1>

<table class="table">
    <thead>
        <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let key of arra">
            <th scope="row">{{ key.EstudianteId }}</th>
            <td class="table-light">{{ key.Nombre }}</td>
            <td>{{ key.Email }}</td>
            <td class="table-light"><button (click)="deleteStudent(key)">Eliminar</button> <button (click)="update(key)">Modificar</button></td>
        </tr>
    </tbody>
</table>