<app-navbar></app-navbar>
<h1 class="display-4 d-flex justify-content-center mt-5">Index Profesor</h1>
<div class="d-flex justify-content-center mt-5">
  <input
    [routerLink]="['/agregar-profesor']"
    class="btn btn-info"
    type="button"
    value="Ingresar Profesor"
  />
</div>
<div class="d-flex justify-content-center mt-2">
  <input
    [routerLink]="['/eliminar-profesor']"
    class="btn btn-info"
    type="button"
    value="Eliminar Profesor"
  />
</div>
<div class="d-flex justify-content-center mt-2">
  <input
    [routerLink]="['/mostrar-profesor']"
    class="btn btn-info"
    type="button"
    value="Mostrar Profesor"
  />
</div>
