<app-navbar></app-navbar>
<h1 class="display-4 d-flex justify-content-center">Bienvenido al sistema</h1>

<h3 class="display-6 d-flex justify-content-center mt-5">
  Estamos en la semana 4
</h3>
<div class="d-flex justify-content-center mt-5">
  <input
    class="btn btn-info"
    type="button"
    [routerLink]="['/index-estudiante']"
    value="Estudiantes"
  />
</div>

<div class="d-flex justify-content-center mt-5">
  <input
    class="btn btn-info"
    type="button"
    [routerLink]="['/index-profesor']"
    value="Profesor"
  />
</div>
